html {
    overflow-y: scroll;
}
body {
    background: #F7F3D2;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 16px;
    color: #0F0326;
    letter-spacing: 0.1em; 
    user-select: none;
}
h1, h2 {
    margin: 0 0 10px;
    text-align: center;
}
p { 
    font-size: 18px;
    text-align: center;
    font-style: italic;
}
ul {
    list-style: none;
    padding:0;
}
li {
    display: inline-block;
    width: calc(100% - 40px);
    font-size: 0;
}
.empty {
    width: calc(100% - 20px);
}
span {
    display: inline-block;
    margin: 0;
    padding: 5px 0;
    font-size: 1em;
}
button {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    font-family: "Comic Sans MS", sans-serif;
}
button:focus {
    outline: none;
}
.name {
    width: calc(100% - 110px - 130px - 90px);
}
.name:first-letter {
 text-transform: capitalize;
}
.end-time {
    width: 80px;
}
.end-date {
    width: 120px;
}
.description {
    width: 100%;
}
.app {
    width: 60vw;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
}
.timer {
    display: block;
    text-align: center;
}
.timer span {
    display: inline-block;
    margin: 0 10px;
}
.new-task {
    padding: 10px;
    font-size: 1em;
    text-align: center;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
}
.task-name, .task-description {
    width: calc(100% - 20px);
    margin: 5px auto;
    padding: 10px;
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
}
.task-name:focus,
.task-name:active, 
.task-description:focus,
.task-description:active {
    outline: none;
    font-weight: bold;
}
.task-time,    
.task-date {
    display: inline-block;
    width: calc(50% - 25px);
    min-width: 250px;
    margin: 5px 0;
    padding: 10px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1.1em;
    text-align: center; 
    border-radius: 10px;
}
.task-time {
    margin-right: 5px;
}
.task-date {
    margin-left: 5px;
}
.clock,
.calendar {
    margin-left: 20px;
    padding: 0 10px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1.0em;
    background-color: #fff;
    border-radius: 10px;
    border: none;
}
.clock:focus,
.clock:active,
.calendar:focus,
.calendar:active {
    outline: none;
}
.task {
    margin:5px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
}
.add {
    width: calc(100% - 20px)
}
.done {
    width: 100px;
}
.modify,
.delete {
    width: calc(50% - 10px);
}
.filter-field {
    text-align: center;
    border-bottom: 5px solid #fff;
}
.filter, .task-radio {
    display:inline-block;
    padding: 10px 5px;
    margin: 5px;
    width: 23%;
    min-width: 200px;
    border-radius: 10px;
}
.task-radio {
    width: 30%;
}
.task-list {
    border-bottom: 5px solid #fff;
}
.low {
    background-color:#C0E5A5;
}
.med {
    background-color: #EFEF83;
}
.high {
    background-color: #E57472;
}
.all {
    background-color: #fff;
}
.passed {
    width: calc(100% - 40px);
    padding: 15px 10px;
    background-color: lightgrey;
}
.failed {
    background: repeating-linear-gradient(
        45deg,
        #E57472,
        #E57472 10px,
        #fff 10px,
        #fff 20px
    );
}
.hint {
    font-size: 14px;
    color: grey;
}